.bundle
.sass-cache
_site
bin
vendor/ruby
Gemfile.lock
images/image_optim_cache.yml
.jekyll-metadata
.directory

theme_readme.md
documentation
banners
Rakefile


# shared files unsure can post
resources/timeseries.R
resources/trees-180606.pptx
.Rproj.user
